In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url="https://www.nasdaq.com/symbol/goog/historical"

In [4]:
r = requests.get(url)
print type(r)

print r.status_code

<class 'requests.models.Response'>
200

In [5]:
soup = BeautifulSoup(r.text, 'html.parser')

In [6]:
table=soup.find_all('table')

In [7]:
len(table)

5

In [8]:
table[0]

In [9]:
table[1]

<table class="backdrop" id="customModal">\n<tr>\n<td>\n<!-- begin lightboxness -->\n<div class="lightbox" id="followPromo">\n<!-- close button-->\n<span class="close" onclick="close_modal()">CLOSE<span class="x">X</span></span>\n<h2>Investing just got easier\u2026</h2>\n<h4>Sign up now to become a NASDAQ.com member and begin receiving instant notifications when key events occur that affect the stocks you follow.</h4>\n<a class="faux-button lightgreen-button" href="https://community.nasdaq.com/" onclick="triggerAsyncOmnitureClickEvent('quotes:faux-follow:access-now')">\n<span>Access Now</span>\n</a>\n<div class="clearB"></div>\n</div>\n<!-- end lightboxness -->\n</td>\n</tr>\n</table>

In [11]:
table[2] """requried table"""

In [12]:
Tbody=table[2].find_all("tbody")

In [16]:
## Tbody """ it contains all row and columns"""

In [23]:
row=Tbody[0].find_all("tr")

In [135]:
ignore=[" ","<td>","</td>","\r\n"]

In [151]:
data=[]
for ix in range(2,len(row)):
    colum=row[ix].find_all("td")
    tmdata=[]
    for ixx in range(len(colum)):
        name=colum[ixx].encode('utf-8')
        name=name.replace(" ","")
        name=name.replace("<td>","")
        name=name.replace("</td>","")
        name=name.replace("\r\n","")
        
        
        tmdata.append(name)
    
    
                                                                          #for iix in range(1,6):
                                                                              # tmdata[iix]=yaml.load(tmdata[iix])
        
    data.append(tmdata)

In [152]:
import numpy as np
import pandas as pd
data=np.array(data)
data=pd.DataFrame(data,columns=["DATE","OPEN","HIGH","LOW CLOSE","LAST","VOLUME"])
data.to_csv("GOOG.csv",index="False")

In [153]:
data=pd.read_csv('GOOG.csv')

In [154]:
data.head(n=3)

   Unnamed: 0        DATE     OPEN     HIGH  LOW CLOSE     LAST     VOLUME
0           0  12/07/2018  1060.01  1075.26  1028.5000  1036.58  2,098,526
1           1  12/06/2018  1034.26  1071.20  1030.7701  1068.73  2,758,098
2           2  12/04/2018  1103.12  1104.42  1049.9800  1050.82  2,278,200